#detail-audio {
    background-color: $color-dark;
    #details-layouts {
        section {
            main {
                .breadcrumb {
                    cursor: default;
                    color: #707070;
                    /* Caption/14 reg */
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    a {
                        text-decoration: none;
                        color: #707070;
                    }
                }
                .audio-stream-wrapper {
                    .audio-stream {
                        width: 100%;
                        height: 236px;
                        iframe {
                            width: 100%;
                            height: 100%;
                            border: none;
                            background-color: $color-dark-50;
                        }
                    }
                    .stream-title {
                        margin-top: 32px;
                        color: #fff;

                        /* Tiitle/24 Bold H1 */
                        font-family: Inter, sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%; /* 36px */
                    }
                    .author-info {
                        margin-top: 12px;
                        display: flex;
                        gap: 0 12px;
                        width: max-content;
                        .author-name {
                            color: var(--Grey-300, #9b9b9b);
                            display: inline-block;
                            /* Caption/16 Med */
                            font-family: Inter, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 170%; /* 27.2px */
                        }
                        .audio-created {
                            display: block;
                            color: var(--Grey-500, #707070);
                            font-family: Roboto, sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 170%; /* 27.2px */
                        }
                    }
                    .content-data {
                        margin-top: 12px;
                        color: $color-white;
                        font-size: 18px;
                        line-height: 150%;
                        height: auto;
                        background-color: $color-dark;
                        p {
                            margin-top: 12px;
                            color: $color-white;
                            font-size: 18px;
                            line-height: 150%;
                            height: auto;
                            background-color: $color-dark;
                        }
                        &.show {
                            -webkit-line-clamp: unset;
                        }
                        .see-more {
                            cursor: pointer;
                            display: inline;
                            background-color: $color-dark;

                            padding: 0 8px;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%;
                            color: $color-pink;

                            &.show {
                                position: unset;
                            }
                        }
                    }
                    ul {
                        margin-top: 24px;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 0 12px;
                        label {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            color: $text-light;
                        }
                        li {
                            a {
                                text-decoration: none;
                                i {
                                    width: 32px;
                                    height: 32px;
                                }
                                .ic-fb {
                                    content: url(../../assets/img/fb.png);
                                }
                                .ic-tw {
                                    content: url(../../assets/img/tw.png);
                                }
                                .ic-wa {
                                    content: url(../../assets/img/wa.png);
                                }
                                .ic-link {
                                    content: url(../../assets/img/link.png);
                                }
                            }
                        }
                    }
                }
                .card-wrapper {
                    width: 100%;
                    height: auto;
                    .card-header {
                        margin-bottom: 16px;
                        color: $text-light;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        a {
                            text-decoration: none;
                            color: $text-white;
                            padding: 8px 24px;
                            background-color: $color-pink;
                            border-radius: 50px;
                        }
                    }
                    .card-body {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 16px;
                        .card {
                            flex-shrink: 0; //hide grow content
                            width: 267px;
                            height: auto;
                            overflow: hidden;
                            a {
                                text-decoration: none;
                                .card-img {
                                    position: relative;
                                    aspect-ratio: 4/3;
                                    width: 100%;
                                    height: 167px;
                                    overflow: hidden;
                                    margin-bottom: 8px;
                                    background-color: $color-dark-50;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: center center;
                                        transform: scale(1);
                                        transition: transform 1s;

                                        &:hover {
                                            transform: scale(1.2);
                                        }
                                    }
                                    .ic-video,
                                    .ic-audio {
                                        width: 32px;
                                        height: 32px;

                                        position: absolute;
                                        right: 12px;
                                        bottom: 12px;
                                    }
                                    .ic-audio {
                                        content: url(../../assets/icon/ic-audio.png);
                                    }
                                    .ic-video {
                                        content: url(../../assets/icon/ic-video.png);
                                    }
                                }
                                .card-title {
                                    display: -webkit-box;
                                    height: 72px;
                                    color: $text-light;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 150%;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include media.ipad {
        #details-layouts {
            section {
                main {
                    .card-wrapper {
                        width: 100%;
                        height: auto;
                        .card-header {
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 16px;
                            h3 {
                                color: $text-light;
                            }
                            a {
                                text-decoration: none;
                                color: $text-white;
                                padding: 8px 24px;
                                background-color: $color-pink;
                                border-radius: 50px;
                            }
                        }
                        .card-body {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 16px;

                            .card {
                                flex-basis: calc((100% / 3) - 16px);
                                flex-grow: 0;

                                a {
                                    text-decoration: none;
                                    .card-img {
                                        position: relative;
                                        aspect-ratio: 4/3;
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
