#page-tags {
    background-color: $color-dark;
    #details-layouts {
        section {
            main {
                .breadcrumb {
                    cursor: default;
                    color: #707070;
                    /* Caption/14 reg */
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    a {
                        text-decoration: none;
                        color: #707070;
                    }
                }
                .banner-wrapper {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 116px;
                    background-color: #fde2e9;
                    .banner {
                        width: auto;
                        height: 100%;
                        aspect-ratio: 5/3;
                        overflow: hidden;
                        img {
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                    .banner-info {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding: 24px;
                        p {
                            color: #1c222b;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                        h2 {
                            color: #1c222b;
                        }
                    }
                }
                .tags {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px 10px;
                    li {
                        .tag {
                            display: block;
                            padding: 8px 16px;
                            text-decoration: none;
                            color: $text-white;
                            border: 1px solid $color-pink;
                            border-radius: 32px;

                            &.active {
                                background-color: $color-pink;
                            }
                            &:hover {
                                background-color: $color-pink;
                            }
                        }
                    }
                }
                .card-wrapper {
                    width: 100%;
                    height: auto;
                    .card-body {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 16px;
                        .card {
                            flex-shrink: 0; //hide grow content
                            width: 267px;
                            height: auto;
                            overflow: hidden;
                            a {
                                text-decoration: none;
                                .card-img {
                                    position: relative;
                                    aspect-ratio: 4/3;
                                    width: 100%;
                                    height: 167px;
                                    overflow: hidden;
                                    margin-bottom: 8px;
                                    background-color: $color-dark-50;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: center center;
                                        transform: scale(1);
                                        transition: transform 1s;

                                        &:hover {
                                            transform: scale(1.2);
                                        }
                                    }
                                    .ic-video,
                                    .ic-audio {
                                        width: 32px;
                                        height: 32px;

                                        position: absolute;
                                        right: 12px;
                                        bottom: 12px;
                                    }
                                    .ic-audio {
                                        content: url(../../../assets/icon/ic-audio.png);
                                    }
                                    .ic-video {
                                        content: url(../../../assets/icon/ic-video.png);
                                    }
                                }
                                h4 {
                                    display: -webkit-box;
                                    height: 72px;
                                    color: $text-light;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include media.tab {
        #details-layouts {
            section {
                main {
                    .card-wrapper {
                        width: 100%;
                        height: auto;
                        .card-header {
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 16px;
                            h3 {
                                color: $text-light;
                            }
                            a {
                                text-decoration: none;
                                color: $text-white;
                                padding: 8px 24px;
                                background-color: $color-pink;
                                border-radius: 50px;
                            }
                        }
                        .card-body {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 16px;
                            .card {
                                flex-shrink: 0; //hide grow content
                                flex-basis: 267px;
                                flex-grow: 1;
                                width: 100%;
                                height: auto;
                                overflow: hidden;
                                a {
                                    text-decoration: none;
                                    .card-img {
                                        position: relative;
                                        aspect-ratio: 4/3;
                                        width: 100%;
                                        height: auto;
                                        overflow: hidden;
                                        margin-bottom: 8px;
                                        background-color: $color-dark-50;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            object-position: center center;
                                            transform: scale(1);
                                            transition: transform 1s;

                                            &:hover {
                                                transform: scale(1.2);
                                            }
                                        }
                                        .ic-video,
                                        .ic-audio {
                                            width: 32px;
                                            height: 32px;

                                            position: absolute;
                                            right: 12px;
                                            bottom: 12px;
                                        }
                                        .ic-audio {
                                            content: url(../../../assets/icon/ic-audio.png);
                                        }
                                        .ic-video {
                                            content: url(../../../assets/icon/ic-video.png);
                                        }
                                    }
                                    h4 {
                                        display: -webkit-box;
                                        height: 72px;
                                        color: $text-light;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 3;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
