@font-face {
    font-family: Inter;
    src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf"), format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Color Variables
$color-dark: #1c222b;
$color-dark-50: #222934;
$color-dark-25: #323d4c;
$color-gray: #2e343e;
$color-light: #d3d3d3;
$color-gray: #9b9b9b;
$color-white: #fff;
$color-white-gray: #f8f8f8;
$color-pink: #f98e8e;

$text-light: $color-light;
$text-gray: $color-gray;
$text-white: $color-white;
$text-white-gray: $color-white-gray;
$text-pink: $color-pink;

:root {
    // For Firefox
    scrollbar-width: thin !important;
    scrollbar-color: $color-pink $color-dark !important;

    // For Chrome
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-pink;
        border-radius: 2px;
    }
}

body {
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}
h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@include media.tab {
    .container {
        padding: 0 42px;
    }
}
@include media.desktop {
    .container {
        padding: 0 82px;
    }
}
@include media.desktop-xl {
    .container {
        padding: 0 15%;
    }
}
